.card-product {
  position: relative;

  &__like-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: rem(17) rem(10);
    background-color: var(--color-white);
  }

  &__icon {
    width: rem(30);
    height: rem(30);
    stroke: var(--color-black);
  }

  &__item:not(:last-child) {
    margin: 0 0 rem(32);
  }

  .image {
    width: 100%;
  }

  &__subtitle {
    margin: 0 0 rem(24);
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 rem(32);
    font-size: rem(20);
    color: var(--color-black);
    gap: rem(24);
  }

  &__link {
    display: inline-block;
    border-bottom: rem(1) solid var(--color-black);
    padding-bottom: rem(4);
  }
}
