.lead {
  font-family: var(--font-lighthaus), 'Arial', 'Helvetica', sans-serif;
  font-size: rem(100);
  word-wrap: break-word;

  &_light {
    color: var(--color-white);
  }

  &_dark {
    color: var(--color-black);
  }

  @include tablet {
    font-size: rem(70);
  }
}
