.link {
  text-decoration: none;
  font-size: 1rem;

  &_light {
    color: var(--color-white);
  }

  &_dark {
    color: var(--color-black);
  }

  &_style-btn {
    display: block;
    max-width: max-content;
    font-weight: 700;
    padding: rem(17) rem(130);
    color: var(--color-white);
    background: var(--gradient-bottleGreen);
  }

  &_centered-block {
    margin: 0 auto;
  }
}
