.link {
  font-size: 1rem;
  text-decoration: none;

  &__icon {
    margin-left: rem(8);
    width: rem(12);
    height: rem(12);
    stroke: var(--color-black);
  }

  &_light {
    color: var(--color-white);
  }

  &_dark {
    color: var(--color-black);
  }

  &_style-btn {
    display: block;
    padding: rem(17) rem(130);
    max-width: max-content;
    font-weight: 700;
    color: var(--color-white);
    background: var(--gradient-bottleGreen);

    @include mobile {
      padding: rem(16);
      max-width: 100%;
      text-align: center;
    }
  }

  &_centered-block {
    margin: 0 auto;
  }
}
