.title {
  font-weight: 400;
  font-size: rem(50);
  word-wrap: break-word;

  &_mgb {
    margin: 0 0 rem(70) 0;

    @include mobile {
      margin: 0 0 rem(40);
    }
  }

  &_align-center {
    text-align: center;
  }

  &_style-dark {
    color: var(--color-black);
  }

  &_style-light {
    color: var(--color-white);
  }

  @include mobile {
    font-size: rem(36);
  }
}
