@import '../common/common';

// Vendor

@import '../vendor/swiper';

// Components

@import '../components/logo';
@import '../components/link';
@import '../components/navigation';
@import '../components/burger-trigger';
@import '../components/store-link';
@import '../components/lead';
@import '../components/section';
@import '../components/title';
@import '../components/subtitle';
@import '../components/text';
@import '../components/social';
@import '../components/scroll-top';
@import '../components/crumbs';
@import '../components/share-btns';
@import '../components/like-btn';
@import '../components/button';
@import '../components/review';
@import '../components/product-section';
@import '../components/slider-btn';
@import '../components/card-product';

// Sections

@import '../section/header';
@import '../section/burger-menu';
@import '../section/product-hero';
@import '../section/reviews';
@import '../section/footer';

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.lead {
  font-size: rem(50);
}
