.hero {
  padding: rem(40) 0;
  background-color: rgba(203, 141, 98, 0.1);

  // 50px
  --mgb: 3.125rem;

  // 40px
  @include mobile {
    --mgb: 2.5rem;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 0 rem(180);

    @include laptop {
      flex-direction: column;
      gap: 0;
    }
  }

  .crumbs {
    flex: 1 1 100%;
    margin: 0 0 var(--mgb);
  }

  &__item {
    flex: 1 1 calc(50% - rem(90));

    &_quote {
      padding: rem(120) 0;
    }

    @include laptop {
      flex: 1 1 auto;

      &_quote {
        margin: 0 0 rem(-100);
        padding: 0;
      }
    }

    @include mobile {
      &_quote {
        margin: 0 0 var(--mgb);
      }
    }
  }

  .lead,
  &__line {
    margin: 0 0 var(--mgb);
  }

  &__quote {
    margin: 0;

    &-text {
      position: relative;
      margin: 0 0 var(--mgb);
      padding: 0 rem(64);
      font-weight: 300;
      font-style: italic;
      font-size: rem(47);
      color: var(--color-bottleGreen);

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: rem(34);
        height: rem(34);
        background-image: url('../img/quote.svg');
        background-size: contain;
        background-repeat: no-repeat;

        @include mobile {
          width: rem(24);
          height: rem(24);
        }
      }

      &::before {
        left: 0;
        top: 0;
      }

      &::after {
        right: 0;
        bottom: 0;
      }

      @include mobile {
        padding: 0 rem(36);
        font-size: rem(28);
      }
    }

    footer {
      display: flex;
      align-items: center;
      gap: rem(32);

      @include laptop {
        justify-content: flex-end;
      }

      @include mobile {
        justify-content: space-between;
      }
    }

    &-author {
      font-weight: 700;
      font-style: italic;
      font-size: rem(30);
      color: var(--color-bottleGreen);

      @include mobile {
        font-size: rem(24);
      }
    }

    &-cite {
      display: block;
      font-style: normal;
    }

    &-painting {
      @include mobile {
        width: rem(110);
      }
    }
  }

  &__img {
    width: 100%;

    @include laptop {
      max-width: rem(560);
    }
  }
}
