.advantages {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(48) rem(32);
  }

  &__item {
    flex: 1 1 calc(25% - rem(48));
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include laptop {
      flex-basis: calc(50% - rem(48));
    }

    @include mobile {
      flex-basis: 100%;
      text-align: center;
    }
  }

  &__img {
    width: rem(76);
    height: rem(76);
    margin: 0 0 rem(8);

    @include mobile {
      margin: 0 auto;
    }
  }

  &__link {
    margin-top: auto;
  }
}
