.burger-menu {
  @include alert;
  /* stylelint-disable-next-line declaration-empty-line-before */
  z-index: 100;

  &__body {
    overflow: hidden;
    padding: rem(135) rem(16) rem(48);
    height: auto;
    background-color: var(--color-black);
    opacity: 0;
    transform: translateY(-10%);
    transition-property: opacity, transform;
    transition-duration: $transitionDuration;

    @include landscapeOrientation {
      height: 100%;
    }
  }

  &.active {
    .burger-menu__body {
      opacity: 1;
      transform: translate(0);
    }
  }

  &__content {
    @include landscapeOrientation {
      overflow: auto;
      max-height: 100%;
    }
  }

  .navigation {
    margin: 0 0 rem(32);

    &__list {
      flex-wrap: wrap;
      justify-content: space-between;
      gap: rem(32);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(20);
  }
}
