.filters {
  padding: rem(40) 0;

  .title {
    margin: 0 0 rem(40);
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: rem(40);

    @include laptop {
      justify-content: flex-end;
    }

    @include small-tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .search {
    margin: 0 auto 0 0;

    @include laptop {
      flex: 1 1 100%;
    }

    @include tablet {
      flex: 1 1 auto;
      margin: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: rem(16);

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__label {
    font-weight: 300;
    font-size: rem(20);
  }

  &__select {
    font-weight: 700;
    font-size: rem(20);
    color: var(--color-black);
  }
}
