.hero {
  position: relative;

  --header-height: 210px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: calc(100% + var(--header-height));
    background-image: url('../img/index-hero-bg-desctop.webp');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    @include laptop {
      background-image: url('../img/index-hero-bg-laptop.webp');
    }

    @include mobile {
      background-image: url('../img/index-hero-bg-mobile.webp');
    }
  }

  figure {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0;

    @include small-tablet {
      flex-direction: column-reverse;
      gap: rem(16);
    }
  }

  picture {
    align-self: flex-end;
    transform: translateY(rem(6));

    @include small-tablet {
      max-width: rem(184);
    }
  }

  figcaption {
    padding: rem(100) 0 rem(177);

    @include small-tablet {
      padding: rem(48) 0 0;
    }
  }

  &__subtitle {
    margin: 0 0 rem(50) 0;
    font-weight: 400;
    font-size: rem(100);
    color: var(--color-white);

    @include tablet {
      margin: 0 0 rem(30) 0;
      font-size: rem(60);
    }

    @include mobile {
      font-size: rem(48);
    }
  }

  &__line {
    margin: 0 0 rem(50) 0;

    @include tablet {
      margin: 0 0 rem(30) 0;
    }
  }

  &__desc {
    margin: 0 0 rem(40) 0;
    max-width: rem(533);
    font-weight: 700;
    font-size: rem(50);
    color: var(--color-white);

    @include tablet {
      margin: 0 0 rem(30) 0;
      font-size: rem(30);
    }

    @include mobile {
      font-size: rem(24);
    }
  }

  &__price {
    margin: 0 0 rem(40) 0;
    font-size: rem(30);
    color: var(--color-white);

    span:first-child {
      display: inline-block;
      margin-right: rem(100);
      font-weight: 300;
    }

    span:last-child {
      font-weight: 700;
    }

    @include mobile {
      margin: 0 0 rem(30) 0;
      font-size: rem(18);
    }
  }

  .lead {
    position: absolute;
    right: 0;
    bottom: 25%;

    @include small-tablet {
      left: 0;
      bottom: 15%;
    }

    @include mobile {
      bottom: 5%;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
  }
}
