.our-products {
  &__list-categories {
    display: flex;
    flex-wrap: wrap;
    gap: rem(30);
  }

  &__item {
    flex: 0 1 calc(33.33% - rem(30));

    @include laptop {
      flex: 0 1 calc(50% - rem(15));
    }

    @include mobile {
      flex: 1 1 100%;
    }
  }
}
