.our-geography {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(80);

    @include laptop {
      flex-direction: column;
      gap: rem(48);
    }

    @include mobile {
      padding: 0;
    }
  }

  &__item {
    &:first-child {
      max-width: rem(365);

      @include laptop {
        max-width: 100%;
      }

      @include mobile {
        padding: 0 1rem;
      }
    }
  }

  &__img {
    width: 100%;
  }
}
