.reviews {
  position: relative;

  .swiper-slide {
    padding: rem(30);
  }

  .review {
    box-shadow: rem(4) rem(4) rem(30) rem(4) rgba(0, 0, 0, 0.2);
  }

  &__form {
    display: flex;
    justify-content: end;
    gap: 1rem;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__input {
    flex: 0 1 rem(400);
    border-bottom: rem(1) solid var(--color-black);
    padding: 0 1rem rem(8);
    resize: none;

    @include small-tablet {
      flex: 1 1 content;
    }
  }

  .button {
    align-self: flex-end;
    padding: 1rem 3rem;

    @include small-tablet {
      width: 100%;
    }
  }

  @include mobile {
    .swiper-slide {
      padding: 1rem;
    }

    .review {
      box-shadow: rem(4) rem(4) rem(12) rem(4) rgba(0, 0, 0, 0.2);
    }

    .swiper {
      margin-bottom: rem(120);
    }

    .slider-btn {
      top: auto;
      bottom: rem(292);
    }
  }
}
